<%- include('partials/header') -%>

<main class="container"> 
    <section class="sec_flex">
        <div>
            <img id="slide" name="slide" width="400" height="200" src="">

      </div>
        <div>
            <img id="slide2" name="slide2" width="400" height="200" src="">

      </div>
    </section>
    <div class="row mt-5">
            

          
    </div>
    <div class="row justify-content-around mt-5">
        
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    
<script src="main.js">
</script>
<%- include('partials/footer') -%>