<%- include('partials/header') -%>

<main class="container"> 

    <section class="sec_flex">
        <div>
            <img name="slide" width="400" height="200" src="imgs/si_1.jpg">

      </div>
        <div>
            <img name="slide" width="400" height="200" src="imgs/si_2.jpg">

      </div>
    </section>
    <div class="row mt-5">
            

          
    </div>
    <div class="row justify-content-around mt-5">
        
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>